<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> PORTFOLIO PAGE   </title>

  {% load static %}
  <link rel="stylesheet" href=" {% static 'css_assets/Index.css' %} ">

   
</head>


<style>



</style>
<body>





<div class="A js-a slide-bar">


      <div class="innerMenuDiv">
        
        <button class="x js-x innerMenu" onclick="AAA()"  > <img  src="/svgs/X marks the spot.svg" alt="menu"> </button>

      </div>
      


      <div> 
        
          <div class="a"> Home </div>
          
          <div class="a" > Music </div>
    
          <div class="a"> Downloads  </div>
    
          <div class="a" >   Tech   </div>
    
          <div class="a"> Movie </div>
    
          <div class="a"> Upload  </div>
    
    
          <div class="a"> Contact Us  </div>
      
        
           
                     
      </div>



      <div class="Social-Media">

        <img class="sm-icon" src="Icons/icons8-facebook-50.svg" alt="">


        <img class="sm-icon" src="Icons/icons8-twitter-50.svg" alt="">

        <img class="sm-icon" src="Icons/icons8-whatsapp-50.svg" alt="">

        <img class="sm-icon" src="Icons/icons8-youtube-50.svg" alt="">


      </div>

      
</div>


<!-- Header Navigation Bar BEGINS -->


<!-- <div class="header-Nav">

  <button class="menuButton js-x" onclick="AAA()
"  > <img class="HeadMenuIcon" src="Icons/icons8-menu.svg" alt="menu"> </button> 



<div class="Portflio"> PORTFOLIO  </div>




<img class="dp" src="images/me.jpg">



  </div> -->



  





<!-- 
  for scrolling -->



  <div class="Scroll-div"> 



    <div class="Inner-scroll-circle">




    </div>





</div>



























<div class="body-content">


        <div class="header-Nav">

          <button class="menuButton js-x" onclick="AAA()
      "  > <img class="HeadMenuIcon" src="/svgs/Group 1.svg" alt="menu"> </button> 
      
      

      <div class="Portflio"> PORTFOLIO  </div>

          
          

      <div class="Dp-div">   
      
        
        <img class="dp" src="images/me.jpg">




        <div class="dp-details">  

        <div>  joseph.allige@gmail.com </div>

        <div>  @Joseph_Ige_ </div>
      
      
      </div>
      
      </div>

      
    
    
    
          </div>



  



  



        <div class="Header-gradient"> 


          <!-- <img class="nebula" src="images/Nebula 735459.png"> -->

          <div class="inner-div-for-gradient">    


            <div class="DivForAligningContent"> 

            <div class="Circle-dp"> 
              
            <!-- <img class="DPDISPLAY" src="/images/me.jpg" alt="dp"> -->
            
            </div>



            <div class="Name"> IGE JOSEPH I.</div>



            <div class="About">  LOREM IPISUM LOREM IPISUMLOREM IPISUMLOREM IPISUMLOREM IPISUMLOREM IPISUMLOREM 
              OREM IPISUMLOREM IPISUMLOREM IPISUM </div>




            </div>

          </div>

          

 




        </div>


        <!-- Remember to input time with setinterval -->

  




        
        <div class="SkillsetDiv">
            
          <p>  <button class="Slillset-Text">   
            Skillset 
          </button>    
        </p>





        <div class="messageDiv" id="messageDiv"></div>


        <!-- <div>  


          YoU CLICKED THE ---- BUTTON MORE THAN TWICE
           SCROLL DOWN TO SEE



        </div> -->



          <button class="Skillset-information All-Skillset-informationActivated  js-WebSkillsetinfo clickTwiceButton"> 


            Web Developer



          </button>

          <button class="Skillset-information js-GraphicSkillsetinfo clickTwiceButton"> 


            Graphic Designer



          </button>



          <button class="Skillset-information js-AnimatorSkillsetinfo clickTwiceButton" > 


            Animator and 3d Modeller



          </button>


          

          <button class="Skillset-information Js-DigitalArtistSkillInformation clickTwiceButton"> 


            Digital Artist



          </button>



          <button class="Skillset-information js-NicheSkillset-information clickTwiceButton"> 


            Niche



          </button>






          <button class="All-Skillset-information js-showallButt clickTwiceButton"> 


          Show All
 
 
 
           </button>
 
          
          
          </div>







          <!-- ShowAllDiv bEGINS -->

          <div class="ShowallDiv"> 


<div class="SkillsCardGraphic js-SkillsCardGraphic">


            <p class="Graphic-design-display ">  
            
              
              Graphic Design Project  
              
            <!--               
            <P  class="Graphic-design-display Sub-wordsfor-Graphic-Display"> Designed a Graphic design syllabus for an Academy in Lagos Nigeria  </P> -->
            
            </p>
            <!-- Line box div -->
          <div class="line-box-div">  
            
            
                              <!-- The project detail box begins -->

            <div class="Project-Div"> 

              <!-- The above div 'Project-Div' is to align everything (in the line-box-div) possible to 
               the center which includes the white line, and the entire project thumbnail and details
               '-->


    
              <!-- start the Loop here -->      {% for details in graphic_design %}
       

              <!-- The Image and the project details begins and are (to be) revealed -->
                    <div class="reveal">

                                  <div class="Project-ThumbNail">

                                    
                                    <img class="Project-ThumbNail" src="{{details.image_cover.url}}" alt="Project Thumbnail">



                                  </div>


                      <!-- The Project details like date, time and the eye svg begins here -->

                                        <div class="project-details">


                                                <p class="Project-Name">
                                                  
                                                  
                                                  {{details.Name}}    
                          
                                                
                                                
                                                </p>


                                                <div class="line-gradient">




                                                </div>



                                                <div class="Project-Date"> 


                                                  {{details.Date}}



                                                </div>


                                                
                                          <!--  the eyes div and svg   -->

                                                <div class="centering-eyeDiv" >

                                                    <button class="eye-div openBtn" data-item_id={{details.unique_id}}> 

                                                    <img class="eye-svg" src="static\static_assets\eye.svg" alt="see details">

                                                    </button>

                                                </div>






                                        </div>


                      <!-- The Project details like date, time and the eye svg ends here -->



                    </div>   
             
          


        
              


                

                             
              <!-- The entire reveal div ends here -->

              <div class="line"> 
                                   
                   <svg xmlns="http://www.w3.org/2000/svg" width="1" height="80" viewBox="0 0 1 386">
                     <line id="Line_1" data-name="Line 1" y2="386" transform="translate(0.5)" fill="none" stroke="#707070" stroke-width="1"/>
                   </svg>
                 

              </div>



              
              

               <!-- End the Loop here -->   {%  endfor %}




              
            </div>


           <!-- The div ends here that is the line and the entirety of the project -->



           






                
        



















          </div>


                 
















            

<!-- Div for the entire graphic design skill card(s) -->
</div>








                 






















































</div>




<!-- This is the end of the graphic design skill card -->





<div class="SkillsCardWebDevelop js-SkillsCardWebDevelop">

       

  <p class="Graphic-design-display ">  
            
              
    WEB DEVELOPER
    
      <!--               
        <P  class="Graphic-design-display Sub-wordsfor-Graphic-Display"> Designed a Graphic design syllabus for an Academy in Lagos Nigeria  </P> -->
        
  </p>
  <!-- Line box div -->
    <div class="line-box-div">  
  
  
                    <!-- The project detail box begins -->

            <div class="Project-Div"> 

                  <!-- The above div 'Project-Div' is to align everything (in the line-box-div) possible to 
                  the center which includes the white line, and the entire project thumbnail and details
                  '-->



                  <!-- start the Loop here -->


                  <!-- The Image and the project details begins and are (to be) revealed -->
                <div class="reveal">

                                <div class="Project-ThumbNail">

                                  
                                  <img class="Project-ThumbNail" src="/Artboard 2.png" alt="Project Thumbnail">



                                </div>


                  <!-- The Project details like date, time and the eye svg begins here -->

                                      <div class="project-details">


                                              <p class="Project-Name">
                                                
                                                
                                                Project Details  
                                              
                                              
                                              </p>


                                              <div class="line-gradient">




                                              </div>



                                              <div class="Project-Date"> 


                                                Date



                                              </div>


                                              
                                        <!--  the eyes div and svg   -->

                                              <div class="centering-eyeDiv" >

                                                  <button class="eye-div openBtn"> 

                                                  <img class="eye-svg" src="static\static_assets\eye.svg" alt="see details.">

                                                  </button>

                                              </div>






                                      </div>


                    <!-- The Project details like date, time and the eye svg ends here -->



                </div>   
                
                
              
                  
                                
                  <!-- The entire reveal div ends here -->

                  <div class="line"> 
                                      
                      <svg xmlns="http://www.w3.org/2000/svg" width="1" height="80" viewBox="0 0 1 386">
                        <line id="Line_1" data-name="Line 1" y2="386" transform="translate(0.5)" fill="none" stroke="#707070" stroke-width="1"/>
                      </svg>
                    

                  </div>



                  
                  

                  <!-- End the Loop here -->




                  
            </div>


            <!-- The div ends here that is the line and the entirety of the project -->



 






      




















    </div>


  
        

      


















</div>


<!-- The Div for the entire web Design skill card(s) the ends here 
  this is the javaScript div to dispaly and not display -->






<!-- Digital Artist Skillcard begins!!! -->

<!-- Digital Artist Skillcard begins!!! -->




<div class="SkillsCardDigitalArtist js-SkillsCardDigitalArtist">


      <p class="Graphic-design-display">  
        
        
        Digital Art Works
        

      </p>  
               
 
  
 
        <!-- Line box div -->
        <div class="line-box-div">  
        
      
        


                      <!-- The project detail box begins -->

                      <div class="Project-Div"> 

                        <!-- The above div 'Project-Div' is to align everything (in the line-box-div) possible to 
                         the center which includes the white line, and the entire project thumbnail and details
                         '-->
         
         
              
                        <!-- start the Loop here -->
                 
         
                        <!-- The Image and the project details begins and are (to be) revealed -->
                       <div class="reveal">
         
                                       <div class="Project-ThumbNail">
         
                                         
                                         <img class="Project-ThumbNail" src="/Artboard 2.png" alt="Project Thumbnail">
         
         
         
                                       </div>
         
         
                        <!-- The Project details like date, time and the eye svg begins here -->
         
                                             <div class="project-details">
         
         
                                                     <p class="Project-Name">
                                                       
                                                       
                                                       Project Details  
                                                     
                                                     
                                                     </p>
         
         
                                                     <div class="line-gradient">
         
         
         
         
                                                     </div>
         
         
         
                                                     <div class="Project-Date"> 
         
         
                                                       Date
         
         
         
                                                     </div>
         
         
                                                     
                                               <!--  the eyes div and svg   -->
         
                                                     <div class="centering-eyeDiv" >
         
                                                        <button class="eye-div openBtn"> 
         
                                                         <img class="eye-svg" src="static\static_assets\eye.svg" alt="see details.">
         
                                                        </button>
         
                                                     </div>
         
         
         
         
         
         
                                             </div>
         
         
                          <!-- The Project details like date, time and the eye svg ends here -->
         
         
         
                       </div>   
                       
                       
 
                        
         
         
                          
         
                                       
                        <!-- The entire reveal div ends here -->
         
                        <div class="line"> 
                                             
                             <svg xmlns="http://www.w3.org/2000/svg" width="1" height="80" viewBox="0 0 1 386">
                               <line id="Line_1" data-name="Line 1" y2="386" transform="translate(0.5)" fill="none" stroke="#707070" stroke-width="1"/>
                             </svg>
                           
         
                        </div>
         
         
         
                        
                        
         
                         <!-- End the Loop here -->
         
         
         
         
                        
                     </div>
         
         
                     <!-- The div ends here that is the line and the entirety of the project -->







      
























        </div>


</div>




<!-- This is the end of the Digital art skill card -->





 


 
















<div class="SkillsCard3dArtist js-SkillsCard3dArtist">


  <p class="Graphic-design-display">  
    
    
    3d Art and modelling
    
<!--               
  <P  class="Graphic-design-display Sub-wordsfor-Graphic-Display"> Designed a Graphic design syllabus for an Academy in Lagos Nigeria  </P> -->
  </p>
 
          <!-- Line box div -->
    <div class="line-box-div">  
        
                  
                  
                  




          
                                  
        
                       <!-- The project detail box begins -->

                       <div class="Project-Div"> 

                        <!-- The above div 'Project-Div' is to align everything (in the line-box-div) possible to 
                         the center which includes the white line, and the entire project thumbnail and details
                         '-->
          
          
              
                        <!-- start the Loop here -->
                 
                    
                                  <!-- The Image and the project details begins and are (to be) revealed -->
                                <div class="reveal">
                    
                                                <div class="Project-ThumbNail">
                    
                                                  
                                                  <img class="Project-ThumbNail" src="/Artboard 2.png" alt="Project Thumbnail">
                    
                    
                    
                                                </div>
                    
                    
                                  <!-- The Project details like date, time and the eye svg begins here -->
                    
                                                      <div class="project-details">
                    
                    
                                                              <p class="Project-Name">
                                                                
                                                                
                                                                Project Details  
                                                              
                                                              
                                                              </p>
                    
                    
                                                              <div class="line-gradient">
                    
                    
                    
                    
                                                              </div>
                    
                    
                    
                                                              <div class="Project-Date"> 
                    
                    
                                                                Date
                    
                    
                    
                                                              </div>
                    
                    
                                                              
                                                        <!--  the eyes div and svg   -->
                    
                                                              <div class="centering-eyeDiv" >
                    
                                                                  <button class="eye-div openBtn"> 
                    
                                                                  <img class="eye-svg" src="static\static_assets\eye.svg" alt="see details.">
                    
                                                                  </button>
                    
                                                              </div>
                    
                    
                    
                    
                    
                    
                                                      </div>
                    
                    
                                    <!-- The Project details like date, time and the eye svg ends here -->
                    
                    
                    
                                </div>   
                       
                       
    
                                       
                        <!-- The entire reveal div ends here -->
          
                        <div class="line"> 
                                             
                             <svg xmlns="http://www.w3.org/2000/svg" width="1" height="80" viewBox="0 0 1 386">
                               <line id="Line_1" data-name="Line 1" y2="386" transform="translate(0.5)" fill="none" stroke="#707070" stroke-width="1"/>
                             </svg>
                           
          
                        </div>
          
          
          
                        
                        
          
                         <!-- End the Loop here -->
          
          
          
          
                        
                     </div>
          
          
                     <!-- The div ends here that is the line and the entirety of the project -->
          
          
          
                     
          
          
          
          
          
          
                          
          



            






























      
      </div>


</div>































































  <!-- This is the Niche skillcard -->





<div class="SkillsCardNiche js-SkillsCardNiche">


            <p class="Graphic-design-display">  
              
              
              Niche


              
            </p> 
              
          <!--   
                        
            <P  class="Graphic-design-display Sub-wordsfor-Graphic-Display"> Designed a Graphic design syllabus for an Academy in Lagos Nigeria  </P> -->
            
          
            <!-- Line box div -->
        <div class="line-box-div-niche">  
            


          <!-- start the for loop here -->

                <div class="line"> 
                  
                  <svg xmlns="http://www.w3.org/2000/svg" width="1" height="80" viewBox="0 0 1 386">
                    <line id="Line_1" data-name="Line 1" y2="386" transform="translate(0.5)" fill="none" stroke="#707070" stroke-width="1"/>
                  </svg>
                

                </div>

            
                <div class="Niche-logos reveal">

            
                           <div class="IconsandNames">  

                                  <img src="/svgs/icons8-photoshop.svg">
                      
                            <div class="icon-name">
                            
                                    <a> 
                                      
                                      
                                      Adobe Photoshop  



                                    </a> 
                            </div>








                
            
                          </div>


                </div>





                <!-- end the for loop here -->





                










         <div>







</div>



<!-- Div for the entire Digital Art skill card(s) -->
</div>

       









































<!-- This is the end of the Niche skill card -->

<!-- ShowAllDiv Ends Here -->
</div>







<div class="overlay" onclick="closePopup"></div>

<div class="popup">
  <button class="closeBtn stylish-button" onclick="closePopup()"> <img src="/icons8-close.svg"> </button>

  <div class="image-container">
    <img class="image" src="/Artboard 2.png" alt="Your Image">
  </div>

  <div>
    <button class="stylish-button popup-title">View Project</button> 
  </div>

  <div class="github-div"> 
    <button class="github-button">    
      <img class="svg-image" src="/icons8-github(1).svg"> 
      <span class="Github-text"> View code in Github </span>
    </button>
  </div>

  <div class="Empty-Space"> 
  </div>
</div>






<footer class="footer">  

            <div class="footer1">   


              <img class="footer-dp" src="/images/IMG_7697_1.jpg" alt="An image of Me">



              <a>  Ige Joseph   </a> 

            </div>





            <div class="footer1"> 



              <div class="footerDetails QuickLInks" >   Quick Links   </div>


              <div class="footerDetails"> Home  </div>


              <div class="footerDetails"> Portflio </div>


              <div class="footerDetails"> Contact  </div>


            </div>


            <div class="footer1 QuickLInks">


            Contact Me


            </div>


            <div> 

              
            <a class="Text-highlight-footer"> Phone: </a>  
            <a> +234-906-056-6685  </a>


            </div>




            <div>
            <a class="Text-highlight-footer"> Email: </a>  
              <a> joseph.allige@gmail.com </a>


            </div>



            </footer>
<!-- body div -->
</div>



<script src= '{% static "js_assets/index.js"  %}' >




</script>

 
  
</body>
</html>
